{% extends "background.html" %}
{% block login_container %}
    <div class="login-kind-title">我是学生</div>
    {% if from_url == "register" %}
        <br>
        <div class="welcome" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注册成功,欢迎你!&nbsp 你的学号是 {{ sno }}.</div>
    {% else %}
        <div class="welcome"><br><br></div>
    {% endif %}
    <div class = "form">
        <form method="post" action="/studentlogin/">
            {% csrf_token %}
            {{form.as_p}}
            <div class="submit-button">
                <input type="submit" value="登录"/>
                <a href="{% url 'sturegister' %}">
                    注册</a>
            </div>
        </form>
    </div>
{% endblock %}
